---
layout: layouts/base.njk
templateClass: tmpl-post
---



<article class="post">
  <h1 class="post-title">{{ title }}</h1>
  <span class="post-date"><time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time></span>
  {{ content | safe }}
</article>

<aside class="related">
  <span> To leave a comment <a href="mailto:p.krautzberger@gmail.com?subject=Comment%20re%20{{ title }}">write me an email</a>.
  </span>
  <span> You can also <a href="/about/">contact me</a>.</span>
</aside>

{% if latex %}
<script type="text/javascript">
  window.MathJax = {
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']]
  },
  menuSettings: {
    explorer: true
  },
  "fast-preview": {
    disabled: true
  },
  CommonHTML: { linebreaks: { automatic: true}}
  };
</script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_CHTML-full">
</script>
{% endif %}
{% if mathml %}
<script type="text/javascript">
  window.MathJax = {
  menuSettings: {
    explorer: true
  },
  "fast-preview": {
    disabled: true
  },
  CommonHTML: { linebreaks: { automatic: true}}
  };
</script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=MML_CHTML-full">
</script>
{% endif %}
